:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #999999;
  /* --primary-title-color: #212121; */
  /* --accent-color: #2196f3; */
  --primary-background-color: #ffffff;
  /* --secondary-background-color: #f5f4fa; */
  --third-background-color: #000000;
  /* --icon-color: #afb1b8; */

  --main-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  margin-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;

  transition-duration: 300ms;
  transition-timing-function: var(--main-timing);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  color: var(--secondary-text-color);
}

/* ====== PRODUCT CARD ====== */

/* .productcard {
  
} */

.list-top {
  display: flex;
}

.list-top-item:not(:last-child) {
  margin-right: 10px;
}

.productcard-link {
  color: var(--primary-text-color);
}

.product {
  color: var(--primary-text-color);

  border-radius: 14px;
  padding: 10px;

  transition-duration: 300ms;
  transition-timing-function: var(--main-timing);
}

.product:hover,
.product:focus {
  box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 1);
}

.product-img {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  width: calc((1200px - 198px) / 4);
  margin-bottom: 20px;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.old-product-price {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration: line-through;
  color: #b8b8b8;
}

.product-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 5px;
}

.product-brand {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--third-text-color);
  margin-bottom: 15px;
}

.btn-basket {
  /* display: none; */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--primary-background-color);
  border: none;
  border-radius: 8px;
  background-color: #262626;

  padding: 10px 20px;

  cursor: pointer;
}

.btn-basket:hover {
  /* display: block; */
  background-color: #404b52;
}

/* ===== HEADER ===== */

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: var(--secondary-text-color);

  height: 110px;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--third-background-color);
}

.empty-container {
  width: 180px;
}

.extramenu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-phone {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-text-color);

  transition-property: color;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--third-text-color);
}

.header-list {
  display: flex;
}

.header-list-item-link {
  font-size: 13px;
  color: var(--secondary-text-color);

  padding: 5px 15px;

  transition-property: color;
}

.header-list-item-link:hover,
.header-list-item-link:focus {
  color: var(--third-text-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
}

.header-search {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 0 60px 0 30px;
  margin: 0 60px;
}

.header-search:active,
.header-search:hover,
.header-search:focus {
  outline: 0;
  outline-offset: 0;
}

::placeholder {
  font-size: 14px;
  color: #999999;
}

.btn-search {
  position: absolute;
  right: 60px;

  width: 50px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  border: none;

  background-color: #e2e2e2;

  cursor: pointer;
}

.search-icon {
  width: 15px;
  height: 15px;
  fill: #000000;
}

.block {
  display: flex;
  align-items: center;
}

.favorites {
  display: flex;
  margin-right: 20px;
  font-size: 14px;
  color: var(--secondary-text-color);

  transition-property: color;
}

.favorites:hover,
.favorites:focus {
  color: var(--third-text-color);
}

.favorites-icon {
  margin-right: 2px;
  fill: currentColor;
}

.profile {
  display: flex;
  margin-right: 20px;
}

.profile-icon {
  fill: #ffffff;

  transition-duration: 300ms;
  transition-timing-function: var(--main-timing);

  transition-property: fill;
}

.profile-icon:hover,
.profile-icon:focus {
  fill: var(--third-text-color);
}

.basket {
  display: flex;
  font-size: 14px;
  color: var(--secondary-text-color);

  transition-property: color;
}

.basket:hover,
.basket:focus {
  color: var(--third-text-color);
}

.basket-icon {
  margin-right: 2px;
  fill: currentColor;
}

/* ====== MAIN-MENU ====== */

.main-menu {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-list-item {
  display: flex;
  align-items: center;
}

.navigation-list-item-link {
  display: block;

  font-size: 13px;
  font-weight: 600;

  padding: 15px 30px;
  color: var(--primary-text-color);

  transition-property: color;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--third-text-color);
}

.delimiter {
  width: 1px;
  height: 20px;
  background-color: #b8b8b8;
}

/* ====== HIRO ====== */

.hiro {
  height: 460px;
  background-color: var(--third-text-color);
}

.hiro-container {
  height: 10px;
}

/* ====== CATEGORY ====== */

.category {
  padding-top: 60px;
  padding-bottom: 60px;
}

.category-container {
  margin-left: auto;
  margin-right: auto;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list-item:not(:last-child) {
  margin-right: 20px;
}

.subcategory {
  position: relative;
}

.subcategory-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.6px;

  margin-bottom: 5px;
}

.subcategory-list {
  margin-bottom: 10px;
}

.subcategory-list-link {
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: var(--primary-text-color);

  transition-property: color;
}

.subcategory-list-link:hover,
.subcategory-list-link:focus {
  color: var(--third-text-color);
}

.subcategory-list_icon {
  margin-right: 10px;
  fill: currentColor;
}

.subcategory-link-view_all {
  position: absolute;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: var(--primary-text-color);

  transition-property: color;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcategory-link-view_all:hover,
.subcategory-link-view_all:focus {
  color: var(--third-text-color);
  transform: translateX(10px);
}

/* ====== TOP ====== */

.section-top {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-top {
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.6px;

  margin-bottom: 30px;
}

/* ====== FOOTER ====== */

.footer-section {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;

  color: var(--secondary-text-color);

  height: auto;

  padding: 60px 0;
  background-color: var(--third-background-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;

  color: #e2e2e2;
}

.first-block {
  box-sizing: border-box;
  width: 300px;
  margin-right: 20px;
  /* margin-left: 20px; */
}

.footer-logo {
  display: block;
  margin-bottom: 30px;
}

.description {
  display: block;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 30px;

  margin-bottom: 60px;
}

.payment-list {
  display: flex;
}

.payment-list-item:not(:last-child) {
  margin-right: 15px;
}

.mir {
  width: 60px;
  height: 18px;
}

.visa {
  width: 56px;
  height: 18px;
}

.mastercard {
  width: 28px;
  height: 18px;
}

.paypal {
  width: 78px;
  height: 21px;
}

.information-block {
  box-sizing: border-box;
  width: 180px;
  height: 288px;
  padding-left: 20px;
  margin-right: 20px;

  border-left: #222222 solid 1px;
}

.information-list-link {
  font-size: 13px;
  line-height: 30px;
  color: #e2e2e2;
}

.collection-block {
  box-sizing: border-box;
  width: 180px;
  height: 288px;
  padding-left: 20px;
  margin-right: 20px;

  border-left: #222222 solid 1px;
}

.collection-list-link {
  font-size: 13px;
  line-height: 30px;
  color: #e2e2e2;
}

.support-block {
  box-sizing: border-box;
  width: 180px;
  height: 288px;
  padding-left: 20px;
  margin-right: 20px;

  border-left: #222222 solid 1px;
}

.support-list-link {
  font-size: 13px;
  line-height: 30px;
  color: #e2e2e2;
}

.contacts-block {
  box-sizing: border-box;
  padding-left: 20px;
  height: 288px;
  border-left: #222222 solid 1px;
}

.contacts-address {
  font-size: 13px;
  font-style: normal;
  line-height: 30px;
}

.contacts-phone_text {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 30px;
}

.contacts-phone_icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.contacts-email_link {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 30px;
  color: #e2e2e2;
  margin-right: 3px;
}

.contacts-email_icon {
  width: 18px;
  height: 16px;
  margin-right: 5px;
  fill: #ffffff;
}

.social-block {
  margin-top: 40px;
}

/* .social-title {
  margin-bottom: 10px;
} */

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-list-item:not(:last-child) {
  margin-right: 20px;
}

.youtube {
  width: 29px;
  height: 20px;

  fill: #ffffff;
  background-color: #000000;

  border-radius: 6px;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.social-list-link:hover .youtube,
.social-list-link:focus .youtube {
  fill: #ff0000;
  background-color: #ffffff;
}

.vkontakte {
  width: 34px;
  height: 17px;

  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.social-list-link:hover .vkontakte,
.social-list-link:focus .vkontakte {
  fill: #0077ff;
}

.odnoklassniki {
  width: 16px;
  height: 26px;

  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.social-list-link:hover .odnoklassniki,
.social-list-link:focus .odnoklassniki {
  fill: #ff7701;
}

.telegram {
  width: 28px;
  height: 22px;

  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.social-list-link:hover .telegram,
.social-list-link:focus .telegram {
  fill: #28a8e9;
}

.h2-footer {
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 10px;
}

.footer-icon {
  fill: #ffffff;
}

.container-copyright {
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  text-align: end;

  font-size: 12px;
  color: #333333;

  padding: 8px 0;
}

/* ============================== */

/* :not(:last-child) */
